[multiplayer]
id=Gobowars5

name="Gobowars5"


map_data="{~add-ons/Gobowars/maps/Gobowars5.map}"       



turns=36
experience_modifier=100

carryover_percentage=0
allow_new_game=no

{DEFAULT_SCHEDULE}
{DEFAULT_MUSIC_PLAYLIST} 



####################################################OBJECTIVES##################################
[event]
    name=prestart
    [objectives]
      side=0
	[objective]
        description= _ "Kill the Gamma Goblins"
       condition=win
      [/objective]
      [objective]
        description= _ "Death of leaders or turns run out"
        condition=lose
      [/objective]
    [/objectives]
  
[/event]


####################################################SIDES#####################################

[side]
side=1

canrecruit=yes
name=Slayer
type=Mage
[modifications]

	{TRAIT_RESILIENT}

	{TRAIT_DEXTROUS}

[/modifications]
id=Slayer
save_id=Slayer
controller=human

team_name=Slayers
recruit=Peasant,Woodsman,Heavy Infantryman,Spearman,Bowman,Horseman,Mage,Saurian Skirmisher,Saurian Augur,Giant Mudcrawler,Elvish Fighter,Drake Fighter,Drake Glider
fog=yes
share_view=yes
gold=250
village_gold=2

[/side]


[side]
side=2

canrecruit=yes
name=Hunter
type=Poacher
[modifications]

	{TRAIT_RESILIENT}

	{TRAIT_DEXTROUS}

[/modifications]
id=Hunter
save_id=Hunter
controller=human

team_name=Slayers

recruit=Peasant,Woodsman,Poacher,Thug,Footpad,Thief,Naga Fighter,Elvish Shaman,Elvish Scout,Elvish Archer,Wolf,Drake Burner,Drake Clasher
fog=yes
share_view=yes
gold=250
village_gold=2
[/side]



[side]
side=3

canrecruit=yes

type=Ogre
name=Becephalus
team_name=Slayers
recruit=Young Ogre,Dwarvish Thunderer
fog=yes
share_view=yes
controller=ai

[modifications]

	{TRAIT_STRONG}

	{TRAIT_STRONG}


[object]
silent=yes


	[effect]

	apply_to=hitpoints
increase_total=+180%

	[/effect]

		[/object]

	[/modifications]
gold=125
village_gold=2

income=4
[/side]



[side]
side=4
canrecruit=yes

type=Goblin Impaler
name=Alpha
team_name=Goblins
recruit=Orcish Archer,Goblin Spearman,Goblin Rouser,Goblin Impaler,Naga Fighter
allow_player=no

controller=ai

[modifications]

	{TRAIT_STRONG}

	{TRAIT_STRONG}




[object]
silent=yes


	[effect]

	apply_to=hitpoints
increase_total=+150%

	[/effect]

		[/object]

	[/modifications]
gold=200
village_gold=2

income=8

[/side]







[side]
side=5
canrecruit=yes

type=Goblin Impaler
name=Beta
team_name=Goblins
recruit=Orcish Archer,Goblin Spearman,Goblin Rouser,Goblin Impaler,Naga Fighter
allow_player=no
controller=ai

[modifications]

	{TRAIT_STRONG}

	{TRAIT_STRONG}


[object]
silent=yes


	[effect]

	apply_to=hitpoints
increase_total=+150%

	[/effect]

		[/object]

	[/modifications]
gold=150

village_gold=2

income=8

[/side]







[side]
side=6
canrecruit=yes

type=Goblin Impaler
name=Delta
team_name=Goblins
recruit=Orcish Archer,Goblin Spearman,Goblin Rouser,Goblin Impaler,Naga Fighter
allow_player=no

controller=ai

[modifications]

	{TRAIT_STRONG}

	{TRAIT_STRONG}


[object]
silent=yes


	[effect]

	apply_to=hitpoints
increase_total=+150%

	[/effect]

		[/object]

	[/modifications]
gold=100

village_gold=2

income=8

[/side]







[side]
side=7
canrecruit=yes

type=Goblin Knight
name=Charlie
team_name=Goblins
recruit=Orcish Archer,Goblin Spearman,Wolf Rider,Goblin Rouser,Goblin Impaler,Naga Fighter,Orcish Assassin
allow_player=no

controller=ai

[modifications]

	{TRAIT_RESILIENT}

	{TRAIT_STRONG}


[object]
silent=yes


	[effect]

	apply_to=hitpoints
increase_total=+50%

	[/effect]

		[/object]

	[/modifications]
gold=175

village_gold=2

income=8

[/side]







[side]
side=8
canrecruit=yes

type=Goblin Knight
name=Falco
team_name=Goblins
recruit=Orcish Archer,Goblin Spearman,Wolf Rider,Goblin Rouser,Goblin Impaler,Naga Fighter,Orcish Assassin
allow_player=no

controller=ai

[modifications]

	{TRAIT_RESILIENT}

	{TRAIT_STRONG}


[object]
silent=yes


	[effect]

	apply_to=hitpoints
increase_total=+50%

	[/effect]

		[/object]

	[/modifications]
gold=150
village_gold=2

income=8

[/side]







[side]
side=9
canrecruit=yes

type=Goblin Pillager
name=Echo
team_name=Goblins
recruit=Goblin Spearman,Goblin Pillager
allow_player=no

controller=ai

[modifications]

	{TRAIT_STRONG}

	{TRAIT_STRONG}


[object]
silent=yes


	[effect]

	apply_to=hitpoints
increase_total=+150%

	[/effect]

		[/object]

	[/modifications]
gold=600

village_gold=2

income=8

[/side]






###################################################UNITS##########################################
[event] name=prestart

{GENERIC_UNIT 1 (Dwarvish Fighter) 24 35} 
{GENERIC_UNIT 1 (Dwarvish Guardsman) 24 39} 
{GENERIC_UNIT 2 (Dwarvish Fighter) 25 40} 
{GENERIC_UNIT 2 (Dwarvish Guardsman) 24 36} 

{GENERIC_UNIT 3 (Dwarvish Dragonguard) 39 39} 

{GENERIC_UNIT 4 (Sea Serpent) 2 9} 
{GENERIC_UNIT 5 (Sea Serpent) 1 9} 
{GENERIC_UNIT 6 (Sea Serpent) 1 10}


{GENERIC_UNIT 4 (Naga Warrior) 25 11} 
{GENERIC_UNIT 5 (Naga Warrior) 14 9} 
{GENERIC_UNIT 6 (Naga Warrior) 10 9} 

[/event]
 




################################################MESSAGES###########################################
[event]
name=start
[message]
speaker=narrator
image=items/bones.png

message=_"You've arrived at Gamma.  There are several goblins on the bounty list.  The Gamma goblins have been waging war on the ogres and dwarfs.  Tribe Echo has sealed themselves off within a cave.  You'll need to to blow the caves open with gunpowder; for this you've hired the infamous Becephalus.  The north wall of the cave will open on turn 15."
[/message]
[/event]



[event]
name=die
first_time_only=no
[filter]
canrecruit=yes
side=1,2
[/filter]
[message]
speaker=unit
message=_ "Damn Wesnoth and its unfair RNG!"
[/message]
[endlevel]
        result=defeat
    [/endlevel]
[/event]

[event]
name=die
first_time_only=no
[filter]
canrecruit=yes
side=3
[/filter]
[message]
speaker=unit
message=_ "What nonsense is this?  How could you let me die? You disappoint me."
[/message][/event]

[event]
name=die
first_time_only=no
[filter]
canrecruit=yes
side=4
[/filter]
[message]
speaker=unit
message=_ "All I ever wanted was to reach The Freelands."
[/message][/event]

[event]
name=die
first_time_only=no
[filter]
canrecruit=yes
side=5
[/filter]
[message]
speaker=unit
message=_ "I should have tried to kill the Basilisk in the Cave."
[/message][/event]

[event]
name=die
first_time_only=no
[filter]
canrecruit=yes
side=6
[/filter]
[message]
speaker=unit
message=_ "Why didn't I go with those treasure hunters to Mokena Prarie?"
[/message][/event]

[event]
name=die
first_time_only=no
[filter]
canrecruit=yes
side=7
[/filter]
[message]
speaker=unit
message=_ "I never got to take my wife to see the Sunset in Waterloo."
[/message][/event]

[event]
name=die
first_time_only=no
[filter]
canrecruit=yes
side=8
[/filter]
[message]
speaker=unit
message=_ "And to think I could have been a guard on the caravan to Xanthe."
[/message][/event]

[event]
name=die
first_time_only=no
[filter]
canrecruit=yes
side=9
[/filter]
[message]
speaker=unit
message=_ "I should have taken that ship down the Loris River."
[/message][/event]

###################################################Cave Walls###########################################
	[event]
	name=turn 15
	{MODIFY_TERRAIN Uh 10 15}
	{MODIFY_TERRAIN Uh 9 16}
	{MODIFY_TERRAIN Uh 8 15}
	{MODIFY_TERRAIN Uh 7 15}
	{MODIFY_TERRAIN Uh 6 17}
	{MODIFY_TERRAIN Uh 5 15}
	{MODIFY_TERRAIN Uh 4 14}
	{MODIFY_TERRAIN Uh 3 15}
	{MODIFY_TERRAIN Uh 2 14}
	{MODIFY_TERRAIN Uh 1 14}
[message]
side=3
message=_ "The wall is down!"
[/message]
	[/event]

next_scenario=Gobowars6


[/multiplayer]
